/* Custom header sizes */
h1 {
  font-size: 1.85em;
}

h2 {
  font-size: 1.55em;
}

h3 {
  font-size: 1.30em;
}

h4 {
  font-size: 1.10em;
}

h5 {
  font-size: 0.90em;
}

img.sidebar-logo {
  width: 40px;
}
