recursive-exclude cicd *
recursive-exclude tests *
recursive-exclude doc *
exclude .git*
exclude CONTRIBUTING.md
exclude MANIFEST.in
exclude pyproject.toml
exclude sonar-project.properties
exclude test-requirements.txt
include pykhiops/samples/*.ipynb
include pykhiops/_version.py
include pykhiops/core/scenarios/**/*._kh*
include versioneer.py
